.panel {
  background-color: white;
  height: 108px;
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-between;
  cursor: pointer;
}
.panel .icon:hover {
  background: #ccc;
}
.panel .icon {
  padding: 16px;
  transition: all 0.38s ease-out;
  border-radius: 6px;
}
.panel .card-panel-text {
  line-height: 18px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
  margin-bottom: 12px;
}
.panel .card-panel-num {
  font-weight: 700;
  font-size: 20px;
}
